.heading-about {
  margin-top: 10%;
}

.bg-blue {
  background-color: #f2feff;
}

.card {
  max-width: 200px;
}

.card-body {
  background-color: #35a5b6;
  color: #fff;
}

.card:hover {
  transform: scale(1.2);
}
