body {
    margin: 0;
}

.container-fluid {
    background-color: rgb(197, 223, 231);
    height: 100%;

}

.text h2 {
    color: rgb(66, 96, 136);
    font-weight: bold;
    font-size: 35px;
}

.text p {
    font-size: 16px;
}